@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-stroke: #E2E8F0;
  --color-boxdark: #24303F;
  --color-whiter: #F5F7FD;
}




@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.marquee-container:hover .animate-marquee {
  animation-play-state: paused;
}

/* Tiptap Rich Text Editor Enhancements */
.ProseMirror {
  min-height: 350px;
  outline: none !important;
}

.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #94a3b8;
  content: "Tuliskan isi artikel / berita lengkap di sini...";
  float: left;
  height: 0;
  pointer-events: none;
}